.game-container{
    background-color: #7FF4D4;
}

.header-container{
    background-color:#D2691E;
    height:60px;
    position:relative;
}

#title{
        font-size: 45px;
        font-width: 10px;
        font-weight: 700;
        bottom: -0.6em;
        position: absolute;
        left: 50%;
        color: aliceblue;
        margin-left: -2.5em;
        letter-spacing: 5px;
        font-family: cursive;
}

.trackers{
    margin:70px 30px 25px 25px;
}

.controls{
    margin:30px 30px 25px 25px;
}

.controls button{
    width: 150px;
    display:block;
    font: bold;
    color: white;
    margin:10px 30px 10px 10px;
}

.trackers .tracker{
    margin:20px;
}
.grid{
    width: 80%;
    margin: auto;
}

.grid.easy{
    padding: 70px 110px;
}

.grid.medium{
    padding: 60px 80px;
}

.grid.hard{
    padding: 40px 30px;
}

.difficulty-level .header{
    margin: 20px 0px 20px 40px;
    color: blueviolet;
}
.level-buttons{
    margin-left:30px;
}
.level-buttons button{
    width:100px;
}

.difficulty-level{
    padding:10px;
    width:80%;
    margin:auto;
    text-align: center;
}